yt-dlp==2024.4.9
tqdm==4.66.2
soxr==0.3.7
soundfile==0.12.1
scikit-learn==1.4.2
scipy==1.13.0
requests==2.31.0
PyMuPDF==1.24.1
PyMuPDFb==1.24.1
PyPDF2==3.0.1
pytube==15.0.0
numpy==1.26.4
num2words==0.5.13
librosa==0.10.1
ffmpeg-python==0.2.0
beautifulsoup4==4.12.3